.item a:link, .item a:visited, .item a:hover, .item a:active {
  color: white;
}

.item {
  color: white !important;
}

.logo {
  max-width: 200px;
  padding: 20px;
}

.logo-container {
  background-color: rgb(70, 160, 217);
}

.ui.menu {
  background-color: rgb(49,55,65);
  border: none;
  box-shadow: none;
}
